@model IFTurist.Models.TourModel.AboutTour

<form asp-action="Create" asp-controller="Tour" >
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Name">Enter Name</label> <br />
            <input type="text" size="75" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Description">Enter Description</label><br />
            <p>
                <textarea name="Description" cols="75" spellcheck="true" rows="10"></textarea>
            </p>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div>
            <p>Загрузите ваши фотографии на сервер</p>
            <p>
                @*<input type="file" name="file" id="file" class="inputfile" multiple accept="image/*,image/jpeg" />
        <label for="file">Choose a file</label>*@

                <partial name="Create/ImgPreviewPanel.cshtml" />
                <partial name="Create/UploadBtm.cshtml" />
            </p>
        </div>
        <div>
            <p>Загрузите видео</p>
            <p>
                <input type="file" name="photo" multiple accept="video/*">
            </p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-dark" />
        </div>
    </div>
</form>