@model IEnumerable<IFTurist.Models.TourModel.Tour>

<div class="row mt-5 mb-2">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                <img class="img-thumbnail" src=@item.ImageLink alt="@item.Name" width="300" height="250">
                <h5 align="center">@item.Name</h5>
            </a>
            @if (User.IsInRole("admin"))
            {
                <div align="center">
                    <a asp-controller="Tour" asp-action="Edit" class="btn btn-sm btn-outline-secondary">Редагувати</a>
                    <a asp-controller="Tour" asp-action="Delete" class="btn btn-sm btn-outline-secondary">Видалити</a>
                </div>
            }
        </div>
    }
    @if (User.IsInRole("admin"))
    {
        <div class="col-lg-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tour" asp-action="Create">
                <img class="img-thumbnail" src="/img/tours/add.jpg" width="300" height="250">
                <h5 align="center">Додати</h5>
            </a>
        </div>
    }
</div>