@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Івано-Франківськ</h1>
    <h2 class="display-10">Зимовий та літній туризм</h2>
</div>

<div>
    <partial name="~/Views/Tours/Tour/Tour.cshtml" />
</div>

